.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.genre {
    display: inline-block;
    margin-right: 6px;
    margin-top: 8px;
    padding: 4px 12px;
    border: 1px solid #9e9e9e;
    border-radius: 14px;
    font-size: 0.9em;
    cursor: pointer;
}

.genre:hover, .genreSelected {
    color: white;
    background-color: rgb(var(--tmdbLightBlue));
}