.header {
    background-color: rgb(var(--tmdbDarkBlue));
    position: fixed;
    transition: top 0.2s linear;
    width: 100%;
    top: 0;
    z-index: 100;
}

.headerUp {
    top: -64px;
}

.content {
    align-items: center;
    display: flex;
    padding: 0 40px;
    height: 64px;
    width: 100%;
    max-width: var(--maxPrimaryPageWidth);
    margin: auto;
}

@media screen and (max-width: 767px) {
    .content {
        justify-content: center;
    }
    .logo {
        height: 40px;
        width: 55px;
    }
}