@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    border: 14px solid rgb(var(--accountSilver));
    border-top: 14px solid rgb(var(--tmdbLightBlue));
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}