.movie {
    composes: card from "./Card.module.css";
}

.content {
    position: relative;
    padding: 26px 10px 12px 10px;
}

.title {
    font-size: 1em;
    margin: 0;
    word-wrap: normal;
    overflow-wrap: break-word;
    font-weight: 700;
}

.release {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
}

.score {
    position: absolute;
    top: -19px;
    left: 10px;
}

.overview {
    display: none;
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 679px) {
    .movie {
        display: flex;
        margin-top: 20px;
    }
    .score {
        top: 6px;
        left: -32px;
    }
    .overview {
        display: block;
        margin-top: 20px;
        max-height: 3.2em;
        height: auto;
    }
    .overviewText {
        font-size: 0.9em;
        line-height: 1.2em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-line-clamp: 2;
        -moz-box-orient: vertical;
        line-clamp: 2;
        box-orient: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .poster {
        height: 141px;
        max-width: 94px;
        flex-shrink: 0;
        flex-basis: 94px;
    }
    .release {
        font-size: 0.9em;
    }
    .content {
        padding: 10px;
        padding-top: 14px;
        max-height: 141px;
    }
}