.movies {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
}

@media screen and (max-width: 679px) {
    .movies {
        display: block;
    }
}