.panel {
    composes: card from "./Card.module.css";
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 14px 16px;
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: inherit;
    cursor: pointer;
    outline: none;
}

.button:focus-visible {
    background-color: #e3e3e3;
}

.arrow {
    transform: rotate(90deg);
}

.heading {
    margin: 0;
    padding: 0;
}

.content {
    padding: 14px 16px 16px 16px;
}

.contentHidden {
    display: none;
}