.image {
    max-width: 100%;
}

.noPoster {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    height: 267px;
}

.noPosterImage {
    width: 50%;
}