.score {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #081c22;
    font-size: 0.9em;
    font-weight: 700;
    color: white;
}

.topRing {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.middleRing {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #204529;
    width: 34px;
    height: 34px;
}

.percentSign {
    position: absolute;
    top: 13px;
    right: 7px;
    font-size: 0.4em;
}