.main {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
    max-width: var(--maxPrimaryPageWidth);
    padding: 40px;
    margin: 64px auto 0 auto;
    min-height: 100vh;
}

.panel {
    align-self: start;
}

.genresHeading {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}

.loading {
    grid-column: 2;
}

.moreButton {
    display: block;
    grid-column: 2;
    background-color: rgb(var(--accountLightBlue));
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: var(--imageBorderRadius);
    padding: 0;
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 970px) {
    .main {
        display: block;
    }
    .panel {
        margin: 0 auto 30px auto;
        max-width: 810px;
    }
    .moreButton {
        margin-left: auto;
        margin-right: auto;
        max-width: 810px;
        width: 100%;
    }
    .loading {
        margin-top: 30px;
    }
}

@media screen and (max-width: 889px) {
    .moreButton {
        max-width: 600px;
    }
    .panel {
        max-width: 600px;
    }
}